force-app/main/default/flows/Agendamento_de_visitas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>OpcaoNAO</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NÃO</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpcaoSIM</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SIM</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decisao_visita</name>
        <label>Decisao visita</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Se_sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_agendar_uma_visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_se_sim</targetReference>
            </connector>
            <label>Se sim</label>
        </rules>
        <rules>
            <name>Se_nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_agendar_uma_visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NÃO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_de_nao</targetReference>
            </connector>
            <label>Se nao</label>
        </rules>
    </decisions>
    <interviewLabel>Agendamento de visitas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agendamento de visitas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Atualiza_Data_e_Hora</name>
        <label>Atualiza Data e Hora</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>tela_final</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visita_Agendada__c</field>
            <value>
                <elementReference>Agende_uma_data_e_hora</elementReference>
            </value>
        </inputAssignments>
        <object>Imoveis__c</object>
    </recordUpdates>
    <screens>
        <name>Agendamento_de_Visita</name>
        <label>Agendamento de Visita</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decisao_visita</targetReference>
        </connector>
        <fields>
            <name>Deseja_agendar_uma_visita</name>
            <choiceReferences>OpcaoSIM</choiceReferences>
            <choiceReferences>OpcaoNAO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja agendar uma visita?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_de_nao</name>
        <label>Tela de nao</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Obrigado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nenhum agendamento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>tela_final</name>
        <label>tela final</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>agendado</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Agendamento concluído com sucesso&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_se_sim</name>
        <label>Tela se sim</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atualiza_Data_e_Hora</targetReference>
        </connector>
        <fields>
            <name>Agende_uma_data_e_hora</name>
            <dataType>DateTime</dataType>
            <fieldText>Agende uma data e hora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Agendamento_de_Visita</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
